/* copied from fonts.google.com from site plan */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Yeseva+One&display=swap");

/** ELEMENTS  */

body {
    /* color scheme (coolors.co) from site plan */
    --blue: #083d77;
    --yellow: #f4d35e;
    --grey: #6d7278;
    --text: #0e0f0f;
    --textLight: #f6f7f7;
    --white: white;

    margin: 0;

    /* from site plan */
    color: var(--text);

  
    /* copied from fonts.google.com from site plan */
    font-family: "Montserrat", sans-serif;

    --logo-size: 50px;
}

/* From site plan*/
h1,
h2 {
  /* copied from fonts.google.com */
  font-family: "Yeseva One", serif;
}
h1 {
    color: var(--blue);
}
h3 {
    font-size: medium;
}
h2 {
    font-size: large;
}
button {
    /* copied from fonts.google.com from site plan*/
    font-family: "Montserrat", sans-serif;
}

nav a {
    text-decoration: none;
    color: var(--textLight);
    padding-bottom: 5px;
    box-sizing: border-box;
    border: var(--blue) 1px solid;
    font-size: large;
}
nav a:hover {
    border-bottom: var(--textLight) 1px dashed;
}
nav a:active, nav a.here  {
    border-bottom: var(--textLight) 1px solid;
}
nav.flex-container {
    display: none;
    flex-direction: column;
}
nav.flex-container.open {
    display: flex;
}

main {
    width: 90vw;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px auto;
}
footer{
    padding: 15px 15px 15px 15px;
    background-color: var(--grey);
    color: var(--textLight);
    text-align: center;
    margin: 0;
}
/* from https://www.w3schools.com/howto/howto_css_disable_resize_textarea.asp */
textarea{
    resize: none;
}

/** CLASSES */
.required {
    margin: 0 15px 15px 0;
    text-align: right;
}
.discover-grid {
    display: grid;
    grid-template-columns: 1;
    gap: 30px;
    justify-items: center;
}

.gallery {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
}


.gallery-contatiner {
    position: relative;
    max-width: 700px;
}

.gallery-cap {
    position: absolute;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, .75);
    color: var(--textLight);
    right: 0;
    bottom: 0;
    z-index: 2;
}

.gallery-img {
    box-shadow: rgba(0, 0, 0, .6) 2px 2px 10px;
    width: 100%;
    height: auto;
    max-width: 700px;
}
.thankyou-gallery {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.thankyou-gallery-img {
    box-shadow: rgba(0, 0, 0, .6) 2px 2px 10px;
    width: 100%;
    height: auto;
}
.benefits-desciption {
    padding: 0 15px 0 15px;
}
.benefits-desciption h3 {
    margin: 10px 0;
}

/*! this order matters! */
.flex-container.spotlight {
    display: none;
    padding: 0 15px;
}
.flex-container.shown{
    display: flex;
    flex-direction: column;
}
.spotlight-title {
    justify-content: center;
}

.header-flex a {
    text-decoration: none;
}
.spotlight-nav {
    padding-top: 15px;
}
.spotlight-img {
    /* border: var(--grey) 4px solid; */
    box-shadow: rgba(0, 0, 0, .8) 2px 2px 8px;
}
.event-container .flex-container{
    border-bottom: var(--yellow) 2px solid;
    padding: 15px 0;
}

.text-center {
    text-align: center;
}
.bott-bordered-p {
    margin-bottom: 10px;
    border-bottom: var(--yellow) 2px solid;
    padding-bottom: 10px;
}
.event-container{
    padding: 0 15px;
    max-height: 400px;
    overflow-y: scroll;
}
.event-container .business-logo{
    width: calc(var(--logo-size) - 15px);
    height: calc(var(--logo-size) - 15px);
}
.business-info{
    padding: 15px;
    width: 100%;
}
.business-info h3 {
    text-align: center;

}
.visit-link {
    display: block;
    width: min-content;
    margin: 0 auto;
}
.color-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--textLight);
    background-color: var(--blue);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.bold {
    font-weight: bold;
}
.space-below {
    margin-bottom: 15px;
}
.card {
    box-shadow: rgba(0, 0, 0, .6) 2px 2px 10px;
    /* border: var(--blue) 2px solid; */
    border-radius: 5px;
    padding-bottom: 15px;
    height: min-content;
}
.card h2 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--blue);
    color: var(--textLight);
    margin: 0 0 15px 0;
    padding: 15px;
    text-align: center;
}
.flex-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
.simple-flex{
    display: flex;
    gap: 15px;
}
.simple-flex p {
    margin: 0;
}
.event-title {
    margin-top: 0;
    margin-bottom: 5px;
}
.flex-container.center{
    justify-content: center;
}
.header-flex{
    background-color: var(--blue);
    display: flex;
    gap: 15px;
    padding: 15px 30px;
    align-items: center;
    flex-direction: column;
}
.header-flex .flex-container h1 {
    font-size: medium;
}
.header-flex nav {
    /* justify-self: center; */
}
.header-flex h1 {
    color: var(--textLight);
}
.business-logo {
    border-radius: 100%;
    width: var(--logo-size);
    height: var(--logo-size);
}
.weather-icon{
    font-size: var(--logo-size);
}
.weather-info{
    text-align: center;
    padding-right:15px;
}

.card-padding {
 padding: 0 15px   
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    height: min-content;
}


.center-text {
    text-align: center;
}

.elgin-map {
    width: 100%;
    height: auto;
}
.thank-you-p {
    padding: 0 15px 0 15px
}

.form-el {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.form-el span {
    justify-self: left;
}
.form-el input {
    padding: 7px;
    justify-self: left;
    width: 70%;
}
.radio {
    width: 200px;
}
.submit-button {
    padding: 10px;
    font-weight: bold;
    color: var(--textLight);
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .6) 2px 2px 10px;
}
.submit-button:hover {
    box-shadow: rgba(0, 0, 0, .6) 4px 4px 15px;
}
.submit-button:active {
    box-shadow: none;
}
.inner-padding {
    padding: 0 15px 0 15px;
}
.category-marker{
    padding: 5px;
    border-radius: 20px;
    border: var(--grey) 3px solid;
    background-color: var(--grey);
    color: var(--textLight);
}
.rounded {
    border-radius: 100%;
}
.member-logo {
    max-width: 150px;
}
.small-member-logo {
    max-width: 50px;
}
.member-logo-container {
    display: grid;
    justify-items: center;
}
.small-flex-weather {
    display: flex;
    align-items: center;
    width: min-content;
    margin: 0 auto;
    gap: 5px;
}
.small-margin {
    margin: 10px 0 10px 0;
}
.med-margin {
    margin: 20px 0 20px 0;
}
.small-weather-icon {
    width: 40px;
}
.list-line-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: var(--yellow) 2px solid;
    margin-bottom: 20px;
    font-size: large;
}
/** IDS */

#meeting-banner {
    text-align: center;
    font-weight: bold;
    background-color: var(--grey);
    color: var(--textLight);
    padding: 20px 30px 20px 30px;
    margin: 0;
    position: relative;
    display: none;
}
#x {
    position: absolute;
    right: 5px;
    top : 5px;
    text-align: center;
    font-weight: bold;
    color: var(--textLight);
    padding: 5px;
    cursor: pointer;
}
#members-view .one-col {
    grid-template-columns: 1fr;
    gap: 0;
}
#directory-view-toggle-container {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}


#members-view {
    grid-column-start: 1;
    grid-column-end: -1;
}
#members-view,.card {
    display: block;
}

#members-selection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
#members-selection h2 {
    display: block;
}


#directory-view-toggle-container span {
    font-size: larger;
    border: var(--blue) 5px solid;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, .6) 2px 2px 10px;
    cursor: pointer;
}
#directory-view-toggle-container .selected {
    background-color: var(--blue);
    color: var(--textLight);
}
/* #form-description-el span {
    text-align: center;
} */
#form-description-el {
    margin-bottom: 5px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    width: 100%
}
#form-description-el textarea {
    padding: 7px;
    width: 70%
}
#join-form-container {
    grid-column-start: 1;
    grid-column-end: -2;
}

#join-form{
    padding: 0 15px 0 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: left;
}

#thank-you-card {
    grid-column-start: 1;
    grid-column-end: -1;
}

#logo {
    border-radius: 100%;
    border: var(--textLight) 4px solid;
}
#hero {
    width: 100%;
    max-width: 1920px;
}
#hero-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
#hero-text {
    left: 10%;
    /* margin-top: 4%; */
    top: 41%;
    position: absolute;
    width: 20vw;
    max-width: 370px;
}
#hero-text h1 {
    /* max-width: 370px; */
    font-size: 5vw;
    margin: 0;
}
#hero-action {
    position: absolute;
    text-decoration: none;
    right: 10%;
    top: 39%;
    max-width: 260px;
    /* margin-top: 8%; */
    color: var(--textLight);
    font-size: 5vw;
    background-color: var(--blue);
    padding: 1vw;
    border-radius: 20px;
    cursor: pointer;
    /* copied from fonts.google.com from site plan */
    font-family: "Yeseva One", serif;
    border: var(--blue) 10px solid;
}
#hero-action:hover {
    animation: wobble .3s ease;
}
@keyframes wobble {
    0%{
        rotate: 0deg;
    }
    50% {
        rotate: -10deg;
    }
    100%{
        rotate: 0deg;
    }
}
#business-logos {
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
    align-items: center;
    gap: 30px;
    max-width: 65vw;
    margin: 0 auto 30px auto;
}

#hamburger {
    border: none;
    background-color: inherit;
    font-size: 30px;
    color: var(--textLight);
    position: absolute;
    top: 0;
    right: 5px;
}