@media (min-width: 850px){
    body {
        --logo-size: 75px;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 50vw;
        min-width: 750px;
    }
    
    h3 {
        font-size: x-large;
    }
    h2 {
        font-size: xx-large;
    }




    
    
    .discover-grid {
        display: grid;
        grid-template-columns: 2fr min-content;
        gap: 30px;
        max-width: 1200px;
        width: 80vw;
    }
    
    .header-flex .flex-container h1 {
        font-size: xx-large;
    }
    .flex-container.shown{
        flex-direction: row;
    }
    .spotlight-title {
        justify-content: left;
    }
    .header-flex{
        flex-direction: row;
    }
    nav.flex-container {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }
    
    .gallery {
        max-width: 700px;
    }
    .gallery-img {
        border: 1px ;
        max-width: 700px;
        width: 60vw;
        filter: grayscale(85%);
        transition: filter .175s ease-in;
    }
    .gallery-img:hover {
        filter: grayscale(0%);
    }
    .list-line-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    /*     
    .text-right-large {
        text-align: right;
    }
    .space-below {
        margin-bottom: 10px;
    }
    .form-el {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .form-el span {
        justify-self: right;
    }
    .form-el input {
        justify-self: left;
    }
    .thankyou-gallery {
        gap: 30px;
    } */
    /* #form-description-el {
        margin-bottom: 0px;
    } */

    #members-selection {
        grid-template-columns: 1fr 1fr;
    }
    
    #members-view .one-col {
        grid-template-columns: 1fr;
        gap: 0;
    }

    #spotlight-card {
        grid-column-start: 1;
        grid-column-end: 6;
    }
    #events-card {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #weather-card {
        grid-column-start: 4;
        grid-column-end: 6;
    }
    #hamburger {
        display: none;
    }
}