/* Copied line from fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap");

:root {
  --smallGap: 5px;
  --medGap: 10px;
  --largeGap: 15px;
  --largerGap: 20px;
}

/* ELEMENT */
body {
  background-color: var(--dark);
  color: var(--text);
  margin: 0;

  /* Copied line from fonts.google.com */
  font-family: "Poppins", sans-serif;

  /* VARIABLES */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
  /* https://coolors.co/ */
  --yellow: #fed766;
  --dark: #191919;
  --light: #3e3e3e;
  --text: #d0d0d0;
  --errorRed: #f88;

  --darkNoChange: #191919;
  --lightNoChange: #3e3e3e;
  --textNoChange: #d0d0d0;

  --translucentDarkBackground: rgba(1, 1, 1, .8);
}

body.light {
  --translucentDarkBackground: rgba(255, 255, 255, .9);
  --dark: #fff;
  --light: #b1b1b1;
  --text: #191919;
  --errorRed: #b11;
}

picture img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Copied line from fonts.google.com */
  font-family: "Staatliches", sans-serif;
}

main {
  margin: 0 auto;
  width: 80vw;
  max-width: 400px;
}

h1 {
  border-bottom: var(--yellow) 2px solid;
}

footer {
  margin-top: 45px;
  padding: 0 var(--largerGap);
}

footer p {
  text-align: center;
}

header {
  background-color: var(--yellow);
  padding: var(--largeGap) 25px;
  color: var(--darkNoChange);
}
ul {
  list-style-type: none;
}

/* CLASS */

.profile-info {
  /* Copied line from fonts.google.com */
  font-family: "Staatliches", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--largerGap);
}
.temp-and-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--smallGap);
}
.temp-and-icon img {
  justify-self: right;
}
.text-center{
  text-align: center;
}
.profile-name {
  font-size: 40px;
}
.padding {
  padding: 0 15px;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--largerGap);
}

.profile-picture {
  border-radius: 100%;
  border: var(--smallGap) var(--darkNoChange) solid;
}

.card {
  border: 2px var(--light) solid;
  border-radius: 5px;
}
.card h2 {
  text-align: center;
  margin: 0;
  padding: var(--medGap);
  background-color: var(--light);
}

.information-piece {
  text-align: center;
}

.navigation.open {
  display: flex;
}

.navigation {
  display: none;
  flex-direction: column;
  background-color: var(--light);
  padding: 0;
  margin: 0;
}
.nav-link {
  text-decoration: none;
  display: block;
  color: var(--text);
  background-color: var(--light);
  text-align: center;
  padding: var(--smallGap);
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.nav-link:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-link.here {
  background-color: rgba(0, 0, 0, 0.2);
}
/* ID */
#lastModified {
  font-size: small;
}

#hamburger {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--darkNoChange);
  font-size: xx-large;
  position: absolute;
  top: 0px;
  right: var(--smallGap); 
  cursor: pointer;
}
#weather-icon {
  width: 30px;
}
#weather-condition {
  margin-top: 0;
}
#lightToggle {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--darkNoChange);
  font-size: xx-large;
  position: absolute;
  top: 0px;
  left: var(--smallGap);
  cursor: pointer;
}

#picture-container {
  position: relative;
  margin-top: 30px;
}

#hero-text {
  position: absolute;
  top: var(--medGap);
  left: var(--medGap);
  font-size: small;
  padding: var(--medGap);
  background-color: var(--translucentDarkBackground);
}

#elgin-map {
  margin-top: var(--largerGap);
  width: 100%;
  height: auto;
}