.form {
    padding: var(--largerGap) var(--smallGap);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--medGap);
}

.form input {
    padding: var(--smallGap);
    margin-bottom: var(--largeGap);
}

.form .left {
    justify-self: center;
}

.form .right {
    justify-self: center;
}

.form .center {
    justify-self: center;
    text-align: center;
}

.both-cols {
    grid-column-start: 1;
    grid-column-end: -1;
}

#repeat-password-message {
    color: var(--errorRed);
    margin-bottom: var(--largeGap);
    display: none;
}

#rating-display {
    /* color: var(--yellow); */
    font-weight: bold;
}