@media (min-width: 588px) {
  h1 {
    font-size: xx-large;
  }

  main {
  max-width: 960px;
  }
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .learning-activities-container {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .profile-name {
    font-size: 75px;
  }

  .navigation {
    flex-direction: row;
  }
  .nav-link {
    padding: 20px;
  }
  .navigation li {
    width: 100%;
  }
  .navigation.open, .navigation{
    display: flex;
  }

  .form {
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .form input {
    margin: 0;
  }
  .form .left {
    justify-self: left;
  }
  .form .right {
    justify-self: right;
  }
  #repeat-password-message {
    margin: 0;
  }

  #hamburger {
    display: none;
  }
  #hero-text {
    font-size: x-large;
    top: 20px;
    left: 20px;
    padding: 15px;
  }

}
